
<!-- 大图 -->

  <div class="row">
    <div class="col-sm-12 dzl-banner">

<img src="https://ooo.0o0.ooo/2017/05/25/5926e849eb594.png" class="img-responsive" alt="内页banner copy.png" title="内页banner copy.png" />


  </div>
</div>

  <br><br>
<div class="container-fluid ">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <br>
      <div class="new-index-title">
      <h2>新闻中心</h2>
      <p>NEWS CENTER</p>
      </div>
      <br><br>
      <div class="btn-group btn-group-justified">

        <a href="#" class="btn btn-default">公司新闻</a>
        <a href="#" class="btn btn-default">媒体关注</a>
        <a href="#" class="btn btn-default">行业资讯</a>
        <a href="#" class="btn btn-default">通知公告</a>
        <a href="#" class="btn btn-default">视频中心</a>
      </div><br>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <!-- news index content -->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 dzl-newcontent">

      <% @messages.each do |message| %>
            <small><span class="glyphicon glyphicon-triangle-right"></span></small>
            <%= link_to(message.title, message_path(message)) %>
            <span class="pull-right"><%= message.created_at.localtime.strftime("%Y/%m/%d") %></span><br>
        <% end %>

    </div>
    <div class="col-sm-2"></div>
  </div>

  <!-- news index content end -->

  <div class="text-center">
     <%= will_paginate @messages, :class => "flickr_pagination" %>
  </div><br><br>


</div>
<!-- news index title end -->
