

      <div class="newscenter"> <strong>|</strong>  &nbsp;&nbsp;&nbsp;&nbsp;新闻中心 </div>

      <br><br>

        <!-- catalogue news start -->
        <div class="cataloguenews">
          <% @messages.each do |message| %>
              <small><span class="glyphicon glyphicon-triangle-right"></span></small>
              <%= link_to(message.title, message_path(message)) %><br>
          <% end %>
        </div>
    
