<div class="row">
  <div class="col-sm-3 ">
    <div class="well msgsidebar">
      <button type="button" class="btn btn-danger btn-block">新闻中心</button>
      <br>
      <br>
      <img src="https://ooo.0o0.ooo/2017/05/22/5922986e27d54.png" alt="Snip20170522_2.png" title="Snip20170522_2.png" class="img-responsive" />
      <br>
      <img src="https://ooo.0o0.ooo/2017/05/22/5922988f72578.png" alt="Snip20170522_1.png" title="Snip20170522_1.png" class="img-responsive" />
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="col-sm-9 msgcontent">
    <div class="newscenter"> <strong>|</strong>  &nbsp;&nbsp;&nbsp;&nbsp;新闻中心 </div>

    <br><br>

      <!-- catalogue news start -->
      <div class="cataloguenews">
        <% @messages.each do |message| %>
            <small><span class="glyphicon glyphicon-triangle-right"></span></small>
            <%= link_to(message.title, message_path(message)) %><br>
        <% end %>
      </div>


  </div>
</div>
