/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets" ;
@import "bootstrap" ;
@import "font-awesome" ;

#search-id{
width: 20%;
padding-top: 15%;

}

.addpadding{
  padding-top: 150px;
  padding-bottom: 20px;
  

}

.va-middle {
  position: absolute;
  bottom: 5px;
  left:100px;
  right:100px;

}

 #personal {
   height: 400px;

 }

.customservice {
  height: 200px;
}

 #fivestep {

   height: 200px;

 }

 .step5{
   left: 50px;
   right: 50px;
 }

 //----------ddtctest-----------

 .contact_side {
 	width:100%;
 	min-width:1200px;
 	height:540px;
 	padding-top:22px;
 	margin:0 auto;
 	border-top:10px solid #004e7f;
 	background:url(../images/contact_bg.png) no-repeat center top #202022;
 }
 .contact {
 	width:1200px;
 	margin:0 auto;
 }
 .contact .index_h4 {
 	color:#276793;
 }
 .contact .index_h4 span {
 	color:#fff;
 }
 .contact_div {
 	width:880px;
 	margin:48px auto 0;
 }
 .contact_left {
 	float:left;
 	width:420px;
 }
 .contact_left ul li {
 	line-height:32px;
 	margin:0 auto;
 	font-size:16px;
 	color:#7c7c7c;
 }
 .contact_left ul li.fwrx {
 	line-height:56px;
 	font-size:26px;
 	color:#005083;
 }
 .contact_right {
 	float:right;
 	width:345px;
 	padding-top:13px;
 }
 .contact_right h3 {
 	line-height:45px;
 	border-bottom:1px solid #4c4c4c;
 }
 .contact_right h3 span {
 	position:relative;
 	bottom:-1px;
 	z-index:10;
 	padding:0 5px;
 	display:inline-block;
 	line-height:45px;
 	font-size:18px;
 	color:#005083;
 	border-bottom:1px solid #005083;
 }
 .contact_right ul {
 	padding-top:25px;
 }
 .contact_right ul li {
 	height:24px;
 	margin:16px auto 0;
 }
 .contact_right label {
 	width:90px;
 	float:left;
 	padding-right:5px;
 	display:block;
 	text-align:right;
 	font-size:15px;
 	color:#858585;
 }
 .contact_right input {
 	width:250px;
 	height:24px;
 	line-height:24px;
 	border:none;
 	color:#fff;
 	text-indent:5px;
 	background:#4c4c4c;
 	border-radius:5px;
 	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	-o-border-radius:5px;
 }
 .contact_right textarea {
 	width:250px;
 	height:72px;
 	padding:9px;
 	line-height:24px;
 	border:none;
 	color:#fff;
 	outline:none;
 	resize:none;
 	background:#4c4c4c;
 	border-radius:5px;
 	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	-o-border-radius:5px;
 }
 .contact_right input[type="submit"] {
 	width:90px;
 	margin-left:95px;
 	cursor:pointer;
 	text-indent:0;
 	font-size:14px;
 	background:#004e7f;
 	-webkit-transition:all 0.4s;
     -moz-transition:all 0.4s;
     -o-transition:all 0.4s;
     transition:all 0.4s;
 }
 .contact_right input[type="submit"]:hover {
 	background:#0a9cf8;
 }

 .index_h4 {
 	width:1200px;
 	margin:0 auto;
 	font-size:32px;
 	font-family:Microsoft Yahei, Helvetica, sans-serif;
 	color:#393c41;
 	line-height:40px;
 	text-align:center;
 	letter-spacing:4px;
 }
 .index_h4 span {
 	font-size:26px;
 	display:block;
 	color:#b8b8b8;
 	font-weight:normal;
 	letter-spacing:normal;
 }
 .index_h4 em {
 	display:block;
 	width:15px;
 	height:13px;
 	margin:6px auto 0;
 	background:url(../images/ico3.png) no-repeat center;
 }

 .usr-rmenu {
   position:fixed;
   right:50px;
   bottom:200px;
   z-index:999;
 }

 .usr-rmenu .btn {
   width:72px;
   height:73px;
   cursor:pointer;
   position:relative;
 }

 .usr-rmenu .btn-qq {
   background:url(../images/usr_qq.png) no-repeat;
   background-color:#79cbf5;
 }

 .usr-rmenu .btn-qq:hover {
   background-color:#488bc7;
 }

 .usr-rmenu a.btn-qq,.usr-rmenu a.btn-qq:visited {
   background:url(../images/usr_qq.png) no-repeat;
   background-color:#6da9de;
   text-decoration:none;
   display:block;
 }

 .usr-rmenu .btn-top {
   background:url(../images/usr_top.png) no-repeat;
   background-color:#666666;
   display:none;
 }

 .usr-rmenu .btn-top:hover {
   background-color:#444;
 }

 a {
     text-decoration:none;
     color:#333;
 }

 a:-webkit-any-link {
     color: -webkit-link;
     cursor: auto;

 }

 div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p
 {
      padding:5px;
 	 margin:5px;
 }
 li {
     list-style:none;
 }

 div {
     display: block;
 }

 body {
 	margin:0;
 	padding:0;
 	font-family:"Microsoft YaHei","微软雅黑","Helvetica Neue",Microsoft Yahei,"宋体";
 	color:#666;
 }

 //----------ddtctest_end-----------

 //---------Footer---------
footer {
    color: #666;
}

footer .footer-below {
    padding: 25px 0;
    background-color: black;
}

/*===== main ===*/

main[role="main-home-wrapper"],main[role="main-inner-wrapper"] { padding-bottom:90px}

main[role="main-home-wrapper"] article[role="pge-title-content"],main[role="main-inner-wrapper"] article[role="pge-title-content"]{ padding-left:41px}

main[role="main-home-wrapper"] article[role="pge-title-content"] header,main[role="main-inner-wrapper"] article[role="pge-title-content"] header{ padding-bottom:19px; padding-top:83px}

main[role="main-home-wrapper"] article[role="pge-title-content"] header h2,main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2{ font-size:46px; line-height:53px; color:#404040; font-weight:800}

main[role="main-home-wrapper"] article[role="pge-title-content"] header h2 span,main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 span{ display:block; font-size:80px; color:#fb5353; padding-bottom:15px}

main[role="main-home-wrapper"] article[role="pge-title-content"] p,main[role="main-inner-wrapper"] article[role="pge-title-content"] p{ font-size:20px; line-height:30px; color:#454545}


html {

	-ms-text-size-adjust: 100%;

	-webkit-text-size-adjust: 100%;

}

*, *:before, *:after {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

input, textarea {

	-webkit-appearance: none;

	-webkit-border-radius: 0;

}

button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {

	-webkit-appearance: button;

	cursor: pointer;

 *overflow:visible;

}

body, img,.commentys-form input[type="text"],.commentys-form input[type="email"],.commentys-form input[type="url"],.commentys-form textarea {

	transition: all .2s linear;

	-o-transition: all .2s linear;

	-moz-transition: all .2s linear;

	-webkit-transition: all .2s linear;

}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, main {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	margin: 0;

	padding: 0;

	vertical-align: baseline;

	border: 0;

	outline: 0;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, main {

	display: block

}

audio, canvas, video {

	display: inline-block;

 *display:inline;

 *zoom:1

}

blockquote:before, blockquote:after, q:before, q:after {

	content: '';

	content: none;

}

.clear {

	clear: both;

	line-height: 0;

	height: 0;

}

a {

	text-decoration: none;

	outline: none;

	color: #010101;

	transition-delay: 0s;

	transition-duration: 0.6s;

	transition-property: all;

	transition-timing-function: ease;

}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
a:focus, img:focus, button:focus, .btn:focus {outline: none;}

::-moz-selection {background-color:#fb5353;color:#fff;text-shadow:none;}

::selection {background-color: #fb5353;color: #fff;text-shadow: none;}

@font-face {font-family: 'Open Sans', sans-serif;}
// //----------Keep the footer at the bottom---------
// html {
//   height: 100%;
// }
//
// body {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }
// .content {
//   flex: 1;
// }
