/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets" ;
@import "bootstrap" ;
@import "font-awesome" ;

#search-id{
width: 20%;
padding-top: 0.8%;
padding-left: 2%;
}

.va-middle {
  position: absolute;
  bottom: 5px;
  left:100px;
  right:100px;

}

 #personal {
   height: 400px;

 }

.customservice {
  height: 200px;
}

 #fivestep {

   height: 200px;

 }

 .step5{
   left: 50px;
   right: 50px;
 }

 //----------ddtctest-----------

 .contact_side {
 	width:100%;
 	min-width:1200px;
 	height:540px;
 	padding-top:22px;
 	margin:0 auto;
 	border-top:10px solid #004e7f;
 	background:url(../images/contact_bg.png) no-repeat center top #202022;
 }
 .contact {
 	width:1200px;
 	margin:0 auto;
 }
 .contact .index_h4 {
 	color:#276793;
 }
 .contact .index_h4 span {
 	color:#fff;
 }
 .contact_div {
 	width:880px;
 	margin:48px auto 0;
 }
 .contact_left {
 	float:left;
 	width:420px;
 }
 .contact_left ul li {
 	line-height:32px;
 	margin:0 auto;
 	font-size:16px;
 	color:#7c7c7c;
 }
 .contact_left ul li.fwrx {
 	line-height:56px;
 	font-size:26px;
 	color:#005083;
 }
 .contact_right {
 	float:right;
 	width:345px;
 	padding-top:13px;
 }
 .contact_right h3 {
 	line-height:45px;
 	border-bottom:1px solid #4c4c4c;
 }
 .contact_right h3 span {
 	position:relative;
 	bottom:-1px;
 	z-index:10;
 	padding:0 5px;
 	display:inline-block;
 	line-height:45px;
 	font-size:18px;
 	color:#005083;
 	border-bottom:1px solid #005083;
 }
 .contact_right ul {
 	padding-top:25px;
 }
 .contact_right ul li {
 	height:24px;
 	margin:16px auto 0;
 }
 .contact_right label {
 	width:90px;
 	float:left;
 	padding-right:5px;
 	display:block;
 	text-align:right;
 	font-size:15px;
 	color:#858585;
 }
 .contact_right input {
 	width:250px;
 	height:24px;
 	line-height:24px;
 	border:none;
 	color:#fff;
 	text-indent:5px;
 	background:#4c4c4c;
 	border-radius:5px;
 	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	-o-border-radius:5px;
 }
 .contact_right textarea {
 	width:250px;
 	height:72px;
 	padding:9px;
 	line-height:24px;
 	border:none;
 	color:#fff;
 	outline:none;
 	resize:none;
 	background:#4c4c4c;
 	border-radius:5px;
 	-webkit-border-radius:5px;
 	-moz-border-radius:5px;
 	-o-border-radius:5px;
 }
 .contact_right input[type="submit"] {
 	width:90px;
 	margin-left:95px;
 	cursor:pointer;
 	text-indent:0;
 	font-size:14px;
 	background:#004e7f;
 	-webkit-transition:all 0.4s;
     -moz-transition:all 0.4s;
     -o-transition:all 0.4s;
     transition:all 0.4s;
 }
 .contact_right input[type="submit"]:hover {
 	background:#0a9cf8;
 }

 .index_h4 {
 	width:1200px;
 	margin:0 auto;
 	font-size:32px;
 	font-family:Microsoft Yahei, Helvetica, sans-serif;
 	color:#393c41;
 	line-height:40px;
 	text-align:center;
 	letter-spacing:4px;
 }
 .index_h4 span {
 	font-size:26px;
 	display:block;
 	color:#b8b8b8;
 	font-weight:normal;
 	letter-spacing:normal;
 }
 .index_h4 em {
 	display:block;
 	width:15px;
 	height:13px;
 	margin:6px auto 0;
 	background:url(../images/ico3.png) no-repeat center;
 }

 .usr-rmenu {
   position:fixed;
   right:50px;
   bottom:200px;
   z-index:999;
 }

 .usr-rmenu .btn {
   width:72px;
   height:73px;
   cursor:pointer;
   position:relative;
 }

 .usr-rmenu .btn-qq {
   background:url(../images/usr_qq.png) no-repeat;
   background-color:#79cbf5;
 }

 .usr-rmenu .btn-qq:hover {
   background-color:#488bc7;
 }

 .usr-rmenu a.btn-qq,.usr-rmenu a.btn-qq:visited {
   background:url(../images/usr_qq.png) no-repeat;
   background-color:#6da9de;
   text-decoration:none;
   display:block;
 }

 .usr-rmenu .btn-top {
   background:url(../images/usr_top.png) no-repeat;
   background-color:#666666;
   display:none;
 }

 .usr-rmenu .btn-top:hover {
   background-color:#444;
 }

 a {
     text-decoration:none;
     color:#333;
 }

 a:-webkit-any-link {
     color: -webkit-link;
     cursor: auto;
     text-decoration: underline;
 }

 div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p
 {
      padding:0;
 	 margin:0;
 }
 li {
     list-style:none;
 }

 div {
     display: block;
 }

 body {
 	margin:0;
 	padding:0;
 	font-family:"Microsoft YaHei","微软雅黑","Helvetica Neue",Microsoft Yahei,"宋体";
 	color:#666;
 }

 //----------ddtctest_end-----------

 //---------Footer---------

footer {
    color: #666;
}

footer .footer-below {
    padding: 25px 0;
    background-color: black;
}

//----------Keep the footer at the bottom---------
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
